SITE_NAME=Remindly

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=remindly
DB_USER=reminder_user
DB_PASSWORD=reminder_pass


# Flask
SECRET_KEY="some_random_secret_string"
FLASK_ENV=development

# Logging
LOG_LEVEL=DEBUG

# Statcounter
STATCOUNTER_PROJECT=123
STATCOUNTER_SECURITY=abc